<html>
    <head>
        <title>{{title}}</title>
    </head>
    <body>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/about/">About</a>
                </li>
            </ul>
        </nav>
        <h1>VT Code Camp Blog</h1>
        <h2>{{title}}</h2>
        {{content | safe}}
    </body>
</html>